# stdio | sse (default: stdio)
MCP_TRANSPORT=sse

# The URL of the Fluora Proxy API
FLUORA_API_URL=http://localhost:3015/api

# Logging level options: DEBUG, INFO, WARNING, ERROR, CRITICAL (default: INFO)
LOG_LEVEL=DEBUG

#################################
# SETUP
#################################
# Grant access to unsafe APIs
ENABLE_UNSAFE_DIRECT_ACCESS=true

# Enable request elicitation (human-in-the-loop confirmation)
ENABLE_REQUEST_ELICITATION=true
